@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply px-2 md:px-8 lg:px-24 py-8 xl:py-12;
}

.heading-size {
  @apply text-2xl md:text-4xl font-bold;
}

.subheading {
  @apply text-lg md:text-2xl font-bold;
}
